.ctr {
	text-align:center;
}
h1 {
    font-family: Urban, Arial, Helvetica, sans-serif;
    font-size: xx-large;
}
h5 {
    font-family: Digitalt, Arial, Helvetica, sans-serif;
    font-size: large;
}