/*.mg-right-10 {
	margin-right: 10;
};
.mg-left-10 {
	margin-left: 10;
};
.mg-top-10 {
	margin-top: 10;
};
.mg-bottom-10 {
	margin-bottom: 10;
};
.mg-right-20 {
	margin-right: 20;
};
.mg-left-20 {
	margin-left: 20;
};
.mg-top-20 {
	margin-top: 20;
};
.mg-bottom-20 {
	margin-bottom: 20;
};
.pd-right-10 {
	padding-right: 10;
};
.pd-left-10 {
	padding-left: 10;
};
.pd-top-10 {
	padding-top: 10;
};
.pd-bottom-10 {
	padding-bottom: 10;
};
.pd-right-20 {
	padding-right: 20;
};
.pd-left-20 {
	padding-left: 20;
};
.pd-top-20 {
	padding-top: 20;
};
.pd-bottom-20 {
	padding-bottom: 20;
};
*/