li.blk a {
    color: black;
    border-bottom: 2px solid black;
}
a {
    background-color: transparent;
    color: #000;
    line-height: inherit;
    text-decoration: none;
}
.flt {
	float: right;
}
@media only screen and (max-width: 500px) {
    .hideme {
        width: 0px;
    }
}