<div class="col-md-2"></div>
<div class="col-md-8 minh">
	<div class="col-md-12" style="margin-top:20px;margin-bottom:20px;">
		<h2>Ask the Leadership</h2>
		<p>During Wednesday afternoon's plenary, we will be holding a Q&A session with the Accenture Leadership panel. Please use the form below to submit your questions. Using the "+1" button below, you can also upvote other questions that have been submitted so that we can ensure the most popular ones are asked.</p>
	</div>
	<app-question></app-question>
</div>
<div class="col-md-2"></div>